name: build-and-push

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    environment: testing

    steps:
      - name: Set up job
        uses: actions/checkout@v4

      - name: Pulling Git Repo
        run: echo "Repository cloned successfully"

      - name: Test Docker Installation
        run: |
          docker --version
          docker info

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Docker Login
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build and Push Docker Image
        uses: docker/build-push-action@v5
        with:
          context: .
          file: ./Dockerfile
          push: true
          tags: ${{ secrets.DOCKER_USERNAME }}/gitomyapp:latest

      - name: Noureddine GRASSA
        run: echo "Build and push completed by Noureddine GRASSA"