name: build-and-push

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  build:
    runs-on: ubuntu-latest
    environment: testing

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Build Docker Image
        run: docker build -t ${{ secrets.DOCKER_USERNAME }}/gitomyapp:v1 .

      - name: Save Docker Image
        run: docker save ${{ secrets.DOCKER_USERNAME }}/gitomyapp:v1 -o image.tar

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: docker-image
          path: image.tar
          retention-days: 1

  push:
    runs-on: ubuntu-latest
    needs: [build]
    environment: testing

    steps:
      - name: Download artifact
        uses: actions/download-artifact@v4
        with:
          name: docker-image

      - name: Load Docker Image
        run: docker load -i image.tar

      - name: Docker Login
        run: |
          echo "${{ secrets.DOCKER_PASSWORD }}" | docker login -u "${{ secrets.DOCKER_USERNAME }}" --password-stdin

      - name: Push Docker Image
        run: docker push ${{ secrets.DOCKER_USERNAME }}/gitomyapp:v1

      - name: Push completed
        run: echo "Push completed by Noureddine GRASSA"

  deploy:
    runs-on: ubuntu-latest
    needs: [push]

    steps:
      - name: Deploying stuff
        run: echo "Going to deploy soon"
