name: build-and-push

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    environment: testing

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Docker Login
        run: |
          echo "${{ secrets.DOCKER_PASSWORD }}" | docker login -u "${{ secrets.DOCKER_USERNAME }}" --password-stdin

      - name: Build Docker Image
        run: docker build -t ${{ secrets.DOCKER_USERNAME }}/gitomyapp:latest .

      - name: Push Docker Image
        run: docker push ${{ secrets.DOCKER_USERNAME }}/gitomyapp:latest

      - name: Build completed
        run: echo "Build and push completed by Noureddine GRASSA"

  deploy:
    runs-on: ubuntu-latest
    needs: [build-and-push]

    steps:
      - name: deploying stuff
        run: echo "going to deploy soon"